@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans:wght@100&family=Lemonada&family=Noto+Sans+NKo+Unjoined&family=Orbitron&family=Pixelify+Sans&family=Red+Hat+Display:wght@300&family=Roboto:wght@900&display=swap");
body {
    background-color: blanchedalmond;
}
@keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
}
/* Nav */
#menu_nav{
    display: none;
    width: 0;
}
/* bouton reseaux sociaux */
.reseauNav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.reseauNav>a{
    margin: 0%;
    width: calc(100%3);
}
.ddl, .insta, .x{
    position: fixed;
    color: #344151;
    background-color: #ff914d;
    text-align: center;
    border: #050321 solid 2px;
    width: 10%;
    z-index: 2;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px 50px 50px 50px;
    transition : 1000ms;
    transform: translateY(0);
    cursor: pointer;
}

.ddl:hover, .insta:hover, .x:hover {
    background-color: #344151;
    color: #ff914d;
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
}
.ddl{
    top: 3px;
    left: 3px;
    padding: 3% 0%;
}
.insta {
    top: 50px;
    left: 3px;
}
.x {
    top: 97px;
    left: 3px;
}

.insta:hover  {
    padding: 0 47px;
}
.x:hover{
    padding: 0 44px;
}
.profile{
    display:contents ;
}
/* mon moniteur */
.ontop {
    position: absolute;
    top: 17%;
    left: 0;
    right: 0;
    margin: auto;
}
.table {
    height: 10%;
}
.table .monitor-wrapper {
    background: #050321;
    width: 90%;
    height: 50%;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    margin: 25px auto;
}
.table .monitor-wrapper .monitor {
    width: 90%;
    height: 60%;
    background-color: #344151;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    margin: auto;
}
.table p {
    font-family: "Caveat", cursive;
    font-size: x-large;
    position: relative;
    display: inline-block;
    animation: move 15s infinite linear;
    color: #ff914d;
    background-color: none;
}
@keyframes move {
    from {
        left: 500px;
    }
    to {
        left: -800px;
    }
}
/* Présentation */
.presentationTxt{
    flex-direction: row;
    flex-wrap: wrap;
}
.presentation{
    margin-bottom: 20%;
}
.mesCompetences img{
    width: 100%;
}
.mesCompetences{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 5%;
}
/* Mes compétences */

#savoireEtre{
    display: flex;
    flex-direction: column;
}
#savoireFaire
/* Porte folio */
.fanmanga{
    flex-direction: row;
    width: 100;
}
.fanmanga>a{
    width: 40%;
}
/* Photo Profil */
.imageprofil {
    width: 50%;
    display: block;
    margin: 0;
}
/* Nave */
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    background-color: #ff914d;
    padding: 10px 0;
    margin: 0;
}
.center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#burger:checked ~ ul > li {
    display: inline;
}
.chequebox {
    display: none;
}
#burger:checked ~ nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    display: block;
}
header {
    display: flex;
    justify-content: center;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
}
i {
    font-size: 2.5em;
}

nav {
    display: none;
}

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    height: 92vh;
    backdrop-filter: blur(10px);
    padding: 0 20px;
    box-sizing: border-box;
}
li {
    width: 100%;
    font-size: 2.2rem;
    margin: 2px;
    list-style: none;
}

nav a:hover {
    color: #ff914d;
    background-color: #344151;
}
.logocontact > i {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 7%;
}
nav a {
    background-color: #ff914d;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    color: #f0f8ff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Caveat", cursive;
    font-size: xxx-large;
}
h1,h2,h3 {
    font-family: "Caveat", cursive;
    font-size: xx-large;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    background-color: #ff914d;
}
h3 {
    font-family: "Caveat", cursive;
    font-size: x-large;
    font-weight: 500;
    width: 50%;
    text-align: center;
    color: #ff914d;
    background-color: #344151;
    border-radius: 50px;
    margin: 25px auto;
    padding: 3%;
}
.presentation p {
    font-family: "Caveat", cursive;
    font-size: x-large;
    text-align: center;
    padding: 20px;
    line-height: 2.2rem;
}
a > img {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 3%;
    box-sizing: border-box;
}
.imgmd img{
    width: 50%;
    margin: auto;
}
.logo {
    width: calc(50% / 3);
    margin: auto;
}
section > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.fanmanga{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.positionRelative{
    position: relative;
}
.positionAbsolute{
    position: absolute;
    bottom: 30px;
}
.positionRelative{
    position: relative;
}

.container_avis{
    border: #050321 solid 5px;
    box-sizing: border-box;
    width: 100%;
    height: 160px;
    background-color: #f0f8ff;
}
.swiper p {
    padding: 0;
}
.swiper {
    width: 100%;
    height: 150px;
}
/* contacte mail */
#contacte{
    margin: auto;
}























